services:
  mongo:
   image: mongo:6
   container_name: mongo
   restart: always
   volumes:
    - mongo_data:/data/db
   expose:
    - "27017"


  backend:
    image: subhanya/devops_backend:latest
    container_name: backend
    restart: always
    ports:
      - "4000:4000"
    environment:
      MONGO_URI: "mongodb://mongo:27017/devops"
    depends_on:
      - mongo

  frontend:
    image: subhanya/devops_frontend:latest
    container_name: frontend
    restart: always
    ports:
      - "5173:80"
    depends_on:
      - backend

volumes:
  mongo_data:
